.choices {
    padding: 10px;
    font-weight:700;
    font-size:larger;
}

#rock {
    background-color: brown;
}

#paper {
    background-color: white;
}

#scissors {
    background-color: gray;
}

.choice-box img {
    height:300px;
    width:300px;

}

.choice-boxes {
    display:flex;
    align-items:center;
    justify-content:space-around;
    
}

.choice-box {
    display:flex;
    flex-direction:column;
    align-items:center;
}